<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="icon" href="images/favicon.png">

</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
    <div class="container">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <% unless user_signed_in? %>
          <%= link_to 'Logar', user_session_path, class:"dropdown-item" %>
          <%= link_to 'Registrar', new_user_registration_path, class:"dropdown-item" %>
        <% else %>
          <%= link_to 'Deslogar', destroy_user_session_path, class:"dropdown-item", method: :delete %>
        <% end %>
      </ul>
    </div>
  </nav>

  <header id="header" class="header">
    <div class="header-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="h1-large">Seja Bem-Vindo ao FakeTwitter</h1>
            <a class="btn-solid-lg" href="#">Entrar</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="cards-1" style="padding-bottom: 0rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="h2-heading">Complete social media services</h2>
          <p class="p-heading">Increasing impression interested expression he my at. Respect invited request charmed me
            warrant to. Expect no more pretty as do though so genius afraid cousin</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Consectetur adipiscing</h4>
              <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="basic-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="image-container">
            <img class="img-fluid" src="images/services-3.jpg" alt="alternative">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="text-container">
            <h2>Consectetur adipiscing elit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright" style="padding-top: 3rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="p-small"> FakeTwitter.</p>
          <p class="p-small">Copyright © <a href="https://github.com/nicholastn1">Nicholas Timbo</a></p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>